.post {
    width: 100%;
    margin-top: 15px;
    background-color: white;
    box-shadow: 0px 5px 7px -7px rgba(0,0,0,0.75);
}

.post__top {
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
}

.post__avatar {
    margin-right: 10px;
}

.post__topInfo > h3 {
    font-size: medium;
}

.post__topInfo > p {
    font-size: small;
    color: grey;

}

.post__bottom {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 25px;
}

.post__image {

    width: 100%;
    display: flex;
    justify-content: center;
    height: 500px;
    margin-bottom: 15px;
}

.post__image > img {
    border-radius: 15px;
    width: 90%;
    height:auto;
    object-fit: contain;
}


.post__options {
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color:gray;
    cursor: pointer;
}

.post__option {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5px;
    flex: 1;
}

.post__option > p {
    margin-left: 10px;
    margin-top: 10px;
}

.post__option:hover {
    background-color: #eff2f5;
}




