.chat{
    padding:4px;
    background-color: #f1f2f6;
    width: 100%;
    height: 82vh;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}
.chat__input{
    display: flex;
    background-color: #ffffff;
    width: 100%;
    justify-content: center;
    align-items: center;

}
.chat__input input{
    width: 70%;
    padding: 17px 0 17px 30px;
    background-color: whitesmoke;
    /*font-size: 20px;*/
    border: none;
    margin: 15px 0;

    border-bottom-left-radius:20px ;
    border-top-left-radius:20px ;

}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.send__btn{
    border: none;
    padding: 17px 40px;
    margin: 17px 0;
    background-color: rgba(0, 0, 0, 0.78);
    color: white;
    transition: 0.4s all ease-in-out;
    border-bottom-right-radius:20px ;
    border-top-right-radius:20px ;
    height: 100% !important;
}
.send__btn:hover{
    background-color: white;
    color: black;
    border:1px solid #e3e3e3;
}
.chat .chat-history {
    padding: 20px;
    border-bottom: 2px solid #fff
}

.chat .chat-history ul {
    padding: 0
}

.chat .chat-history ul li {
    list-style: none;
    margin-bottom: 30px
}

.chat .chat-history ul li:last-child {
    margin-bottom: 0px
}

.chat .chat-history .message-data {
    margin-bottom: 15px
}

.chat .chat-history .message-data img {
    border-radius: 40px;
    width: 40px
}

.chat .chat-history .message-data-time {
    color: #434651;
    padding-left: 6px
}

.chat .chat-history .message {
    color: #444;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .my-message {
    background: #efefef
}

.chat .chat-history .my-message:after {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #efefef;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .other-message {
    background: #e8f1f3;
    text-align: right
}

.chat .chat-history .other-message:after {
    border-bottom-color: #e8f1f3;
    left: 93%
}

.chat .chat-message {
    padding: 20px
}