.friend__reques{
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: space-between;
    background-color:silver;
    margin-top: 18px;
    align-items: center;
    padding: 0 10px;


}
.friend-req  {
    display: flex;
    justify-content: center;
    width: 100%;
}
.card .acceps {
    display: flex;
    width: 100%;
    justify-content: center;
}
.card  .card__b{
    display: flex;
    justify-content: center;
}
.card .acceps  button{
    border-radius: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #89efef;
}
.friend__reques img{
    border-radius: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    width: 100px;
    object-fit: cover;
}
.friend__reques button{
    border: none;
    padding: 8px 18px;
    background-color: #f1f2f6;
    color: black;
    border-radius: 5px;
}
.friens__search{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
}
.laod{
    display: flex;
    justify-content: center;
    margin-top: 320px;
}

.s-inp{
    display: flex;
    justify-content: center;
}