.friend__reques{
    display: flex;
    height: 100px;
    justify-content: space-around;
    background-color: teal;
    margin-top: 18px;
    align-items: center;


}

.friend__reques img{
    border-radius: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    width: 100px;
    object-fit: cover;
}
.friend__reques button{
    border: none;
    padding: 8px 18px;
    background-color: #f1f2f6;
    color: black;
    border-radius: 5px;
}