@media (max-width: 996px) {

    .rightSidebar{
        display: none;
    }
    .leftSideBarWrapper{
        display: none;
    }
}


.post-text
{
    width: 100% !important ;
    border: none;
}
.micro-btn{
    width: 30%;
    border-radius: 15px;
    border:none;
    margin-bottom: 18px;
    margin-left: 10px;
    padding: 5px 10px;
    background-color: rgba(100, 149, 237, 0.89);
    font-size: 16px;
    color: white;
    transition: 0.5s all ease-in-out;

}
.story-modal-image{
    width: 450px;
    height: 350px;
    margin-top: 15px;

}
.micro-btn:hover{
    background-color: rgb(78, 130, 229);
}

.creaate-post-btn{
    width: 100%;

    display: flex;
    justify-content: center;
    height: 30px;
    align-items: center;
    border: none;
    color: white;
    background-color: rgb(27,116,228);
    border-radius: 5px;
    margin-top: 10px;
}
.m-content textarea{
    margin-top: 20px;
    height: 60px;
    border: none;
    font-size: 20px;
    outline: none;
    resize: none;
    margin-bottom: 40px;
}

.mydiv{
    border-bottom: 1px solid silver;
    width: 70vw;
    margin-bottom: 10px;
    padding: 10px 5px;

}
.mydiv p{
    cursor: pointer;
    color: red;
}
.post__modal{
    padding: 20px 30px;
}
.user__info h5{
    margin-left: 10px;
}
.ppost__modal{
    width: 900px;
}