
.image-container{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.image-container img{
    width: 350px;
    height: 250px;
}


.f-l{
    margin-top: 20px;
    margin-left: 20px;

}


.create__post{
    display: flex;
    justify-content: center;
    width: 53%;
}
.post_betvin{
    width: 100%;
    display: flex;
    justify-content: space-between;

}


@media (max-width: 996px) {

    .create__post{
        width: 100%;
    }
    .f-l{
        display: block;
    }
}
