
.profile-s
{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-div
{
    width: 70%;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid silver;
    animation: border-anime 3s infinite;
}

@keyframes border-anime
{
    0%
    {
        border-left-color: #d8fff9;
        transition: 0.3s;
    }
    25%
    {
        border-top-color: #bdfff8;
        transition: 0.3s;
    }
    50%
    {
        border-right-color: #ffcac6;
        transition: 0.3s;
    }
    75%
    {
        border-bottom-color: #f86961;
        transition: 0.3s;
    }
    100%
    {
        border-left-color: #eaafff;
        transition: 0.3s;
    }
}

.p-form
{
    width: 100%;
    padding: 30px;
}

.p-left
{
    width: 30%;
    height: 100%;
    background-color: sienna;
}

.p-field
{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid silver;
}

.p-label
{
    font-size: 20px;

}

.p-inp
{
    height: 100%;
    width: 50%;
    padding-left: 20px;
    font-size: 16px;
    border: none;
    outline: none;
    border: 1px solid silver;
}

.p-sub
{
    width: 100%;
    height: 50px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    outline: none;
    border: none;
    margin-top: 20px;
    font-size: 20px;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.p-sub:hover
{
    background-color: #ffffff;
    transition: 0.9s;
    color: black;
}

.ch-psw
{
    margin-top: 20px !important;
    color: #f86961;
    padding: 10px 15px;
    border-radius: 3px;
    border: 1px solid #f86961;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.ch-psw:hover
{
    color: white;
    border-color: white;
    background-color: #f86961;
    transition: 0.3s;
}


.lg-div
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}


@media(max-width:900px)
{
    .p-field
    {
        flex-direction: column;
        height: 100px;
    }
    .p-inp
    {
        width: 100%;
        height: 50px !important;
    }
    .p-div
    {
        width: 90%;
    }
}


.image-container{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.image-container img{
    width: 350px;
    height: 250px;
}


.f-l{
    margin-top: 20px;
    margin-left: 20px;

}


.create__post{
    display: flex;
    justify-content: center;
    width: 53%;
}
.post_betvin{
    width: 100%;
    display: flex;
    justify-content: space-between;

}


@media (max-width: 996px) {

    .create__post{
        width: 100%;
    }
    .f-l{
        display: block;
    }
}
