.rightbarRow{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: flex-start;
    width: 300px;
    cursor: pointer;
}

.rightbarRow:hover{
    background-color: lightgray;
    border-radius: 10px;
}

.rightbarRow > h4 {
    margin-left: 8px;
    font-size: 20px;
}

.rightbarRow > .MuiSvgIcon-root {
    font-size: xx-large;
    color: #2e81f4;

}


