.sidebarRow{
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    transition: 0.1s all inherit;
}

.sidebarRow:hover{
    background-color: rgba(227, 227, 227, 0.49);
    border-radius: 10px;
}

.sidebarRow > h4 {
    margin-left: 8px;
    font-size: 20px;


}

.sidebarRow

> .MuiSvgIcon-root {
    font-size: xx-large;
    color: #2e81f4;

}


