.sidebarRow{
    display: flex;
    align-items: center;
    padding: 10px;
    /*width: 300px;*/
    cursor: pointer;
    transition: 0.1s all inherit;
}

.sidebarRow:hover{
    background-color: lightgray;
    border-radius: 10px;
}

.sidebarRow > h4 {
    margin-left: 8px;
    font-size: 20px;


}

.sidebarRow > .MuiSvgIcon-root {
    font-size: xx-large;
    color: #2e81f4;

}


