.card {
    margin-bottom: 18px;
    border-radius: 10px;
    margin-top: 10px    ;
}

.card .card-image {
    width: 100%;
    height: 300px;
}

.card .card-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card .card-button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 18px 0;
}

.card .card-button button {
    display: flex;
    justify-content: center;
    background-color: #2e81f4;
    border-color: #2e81f4;
    color: white;
}

.card .card-button button:hover {

    color: white;
    border-color: #2e81f4;
    text-align: center;
}