.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;

}
.comment-flexbox {
    display: flex;
    flex-direction: column;
}

.comment-text{
    margin: 12px 10px;
    color: black;
    font-weight: 500;
    font-size: 18px;
}
.input-box{
    height: 35px;
    width: 600px;
    background-color: white;
    outline: none;
    resize: none;
    border: none;
    padding: 22px 10px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border: 1px solid white;
}

.input-box:focus {
    border: 1px solid lightskyblue;
}

.input-box::placeholder {
    font-size: 16px;
}

.comment-in-text {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 7px
}

.comment-button-container {
    padding: 5px 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.comment-button{
    padding: 8px 40px;
    border: none;
    margin-top: 7px;
    border-radius: 5px;
    background-color: black;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    width: 10%;
    color: white;
    transition: 0.3s all ease-in-out;
    cursor: pointer;

}
.comment-button:hover{
    background-color: rgba(0,0,0,0.8);
    transition: .3s all ease-out;
}

.comment-container{
    height: 5vh;
    width: 500px;
    background-color: white;
    margin-top: 20px;
    border-radius: 5px;
    word-break: break-all;
    align-items: center;
}
@media (max-width: 996px) {
    .comment-container{
        height: 65px;
        width:430px;
    }
    .input-box{
        height: 75px;
        width: 300px;

    }

}
@media (max-width: 1600px) {
    .comment-container{
        height: 65px;
        width:400px;
    }
    .input-box{
        height: 75px;
        width: 380px;

    }

}