.header__left > img {
    height: 40px;
}
.header{
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: white;
    align-items: center;
    z-index: 100;
    top: 0;
    box-shadow: 0px 5px 8px -9px rgba(0,0,0,0.75);
    width: 100%;
}

.header__left{
    display: flex;
    justify-content: space-evenly;
}
.header__left img{
    cursor: pointer;
}
.header__input{
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;

}
.header-input-search{
    position: relative;
}
.search-container{
    width: 300px;
    position: absolute;
    top: 60px   ;
    height: auto;
    left: -60px;
    border-radius: 10px;
    background-color: white;
}
.search-container li{
    text-decoration: none;
    list-style: none;
    display: flex;
    font-size: 22px;
    height: 50px;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    border-radius: 10px;
    margin-top: 10px;
    transition: 0.2s ease-in-out;

}
.search-container li:hover{
    background-color: rgba(128, 128, 128, 0.12);

}

.header__input > input {
    border: none;
    background-color: transparent;
    outline-width: 0;
}

.header__middle{
    display: flex;
    flex: 1;
    justify-content: center;
}


.header__option > .MuiSvgIcon-root{
    color:grey;
}
.header__option:hover > .MuiSvgIcon-root{
    color: #2e81f4;
}




.header__option{
    display: flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
}

.header__option:hover {
    background-color: #eff2f5;
    border-radius: 10px;
    align-items: center;
    padding: 0 30px;
    border-bottom: none;
}

.header__info{
    display: flex;
    align-items: center;
}

.header__info > h4{
    margin-left: 10px;
}
.header__hamburger{
}

.header__right{
    display: flex;
}
.active{
    display: block;

}
.header__hamburger__body{
    position: absolute;
    top: 70px;
    right: 0;
    width: 100vw;
    height: 100vh;
    transition: 0.6s linear;
    justify-content: center;
    display: none;
    background-color: rgb(201, 200, 200);
}
.header__hamburger__body ul li{
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 10px 100px;
    text-align: center;
    background-color: white;
    cursor: pointer;
    width: 100%;

    transition: 0.2s all ease-in-out;
}

.header__hamburger__body ul li:hover{
    background-color: rgb(148, 148, 148);
    color: white;
    list-style: none;
    text-decoration: none;
}
.header__hamburger__body ul li a:hover{
    text-decoration: none;
}
@media only screen and (max-width: 1920px) {
    .header__hamburger{
        display: none;

    }
}
@media only screen and (max-width: 992px) {
    .header__middle{
        display: none;
    }
    .header__right{
        display: none;
    }
    .header__left input{
        display: none;
    }
    .header__hamburger{
        display: block;
    }
}
.dropbtn {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 10px;
    background-color: #9a1414;
    z-index: 1;
    top: 40px   ;
    height: auto;
    width:160px;
    left: -100px;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #748074;}


