
nav {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
        z-index: 999;
    box-shadow: 0px 0px 6px #ccc;
}

.nav__left {
    display: flex;
    align-items: center;
}

.nav__left img {
    height: 40px;
    object-fit: contain;
    margin-right: 5px;
}

.nav__search {
    display: flex;
    align-items: center;
    background-color: #f1f2f6;
    padding: 15px;
    border-radius: 23px;
    height: 40px;
    /*width: 240px;*/
}

.nav__search input {
    outline: none;
    border: none;
    background: transparent;
    padding: 0 10px;
}

.nav__mid {
    display: flex;
    align-items: center;
}

.icon {
    padding: 10px 2.8vw;
    border-radius: 5px;
    color: #66676c;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon i {
    font-size: 32px;
}

.icon:hover {
    background-color: #f1f2f6;
    transition: ease-in-out 0.1s;
}

.nav__right {
    display: flex;
    align-items: center;
}

.avatar {
    display: flex;
    align-items: center;
    margin-right: 20px;
    border-radius: 50px;
    padding: 5px 10px;
    background: #f1f2f6;
}

.avatar:hover {
    background: #d5d5d5;
    transition: ease-in-out 0.1s;
    cursor: pointer;
}


.buttons {
    display: flex;
    align-items: center;
}
.add__friend{

}

.buttons i {
    padding: 10px;
    margin: 0 1px;
    border-radius: 50%;
    background: #f1f2f6;
}

.buttons i:hover {
    background: #D8D9DD;
    transition: ease-in-out 0.1s;
}

@media only screen and (max-width:720px) {
    .nav__mid {
        display: none;
    }
}

@media only screen and (max-width:938px) {

    .nav__search  {
        border-radius: 23px;
        padding: 10px;

    }

    .nav__search i {
        border-radius: 50%;
    }

    .nav__search input {
        width: 126px;

    }
    .nav__search:focus input{
        display: block;
    }
}

@media only screen and (max-width:540px) {
    .avatar {
        display: none;
    }
}


/*search active start*/
.search__input{
    width: 200px;
    background: #000;
}



/*search active ends*/